# STA130 Week 01 Homework

**Name:** Varak Tanashian

**Date:** September 12th, 2024

**Assignment:** Week 01 Homework

---

## Course Information
- **Course:** STA130 - An Introduction to Statistical Reasoning and Data Science
- **Instructor:** Prof. Scott Schwartz 
- **Term:** Fall 2024

---

*This notebook contains my solutions and work for the Week 01 Homework assignment.*

**ChatGPT Summary:** Found at the bottom of this notebook  
**Chat Link:** https://chatgpt.com/share/66e39038-6ad0-800a-803d-c06364fc38b3


---
### Prelecture

In [1]:
import pandas as pd
url = "villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

# Question 1: 
rows, columns = df.shape
print(f"Number of rows: \t{rows}")
print(f"Number of columns: \t{columns}")

Number of rows: 	391
Number of columns: 	11

### Question 2: 

*Observations* are instances of data. They are the rows. For example, if we have information about 10 villagers, then we have 10 observations, meaning there are 10 rows in the table. Each observation is identified by an index.

*Variables* are the features/attributes inside a dataset, i.e. the columns. Every instance (observation) in a dataset should have a value for all of the variables. For example, if we have data about 10 villagers, all 10 villagers should have a value filled in for all of the variables, such as age, name, etc.

In [19]:
# Question 3

# Summary statistics for numerical columns

# Summary of Numerical columns
print(df.describe())

# Table w/ Specific examples
df.describe(include=['object'])

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

,id,name,gender,species,birthday,personality,song,phrase,full_id,url
count,390,391,391,391,391,391,380,391,391,391
unique,390,391,2,35,361,8,92,388,391,391
top,zucker,Zucker,male,cat,6-30,lazy,K.K. Country,quacko,villager-zucker,https://villagerdb.com/images/villagers/thumb/...
freq,1,1,204,23,2,60,10,2,1,1

In [33]:
# Question 4

# Need to use a different database since villagers.csv has no missing values anywhere

url2 = "titanic.csv"
df2 = pd.read_csv(url2)

rows2, columns2 = df2.shape
print("There are\t\t", rows2, "rows\nAnd there are\t\t", columns2, "columns")

print(df2.describe())

print("\nThe columns are:", [x for x in df2.columns])

There's		 891 rows
And		 15 columns
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

The columns are: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

### Question 4 Cont'd

* When using ```.shape```, we get 891 rows and 15 columns.
* But, when using ```.describe()```, we only get information about 6 columns. This is because ```.describe()``` omits the columns with non-numeric values, such as the ```embarked``` column. Also, ```.describe``` does not count the rows with non-numeric values, thus reducing the ```count``` 'variable'

### Question 5

An **attribute** is a piece of information that is stored inside a python object. When called, it simply returns a value and does not do any operations.

On the other hand, a **method** does perform operations when it is called. Its syntax is such that it requires brackets, in order to indicate that it is a function.


---

### Postlecture

### Question 6

The df.describe() method provides several summary statistics for each numeric variable it analyzes. Here's a breakdown:

* **Count**: The number of non-missing observations in the column. Missing values are excluded.

* **Mean**: The average of the column values. Calculated as the sum of all the values divided by the number of (non-missing) values.

* **Std (Standard Deviation)**: Measures the spread or dispersion of the data from the mean. Higher standards deviation indicate more variability in the data.

* **Min (Minimum)**: The smallest value in the column.

* **25% (First Quartile)**: The value below which 25% of the data lies.

* **50% (Median or Second Quartile)**: The middle value of the data, meaning 50% of the data lies below this value. Indicative of what the average value is.

* **75% (Third Quartile)**: The value below which 75% of the data lies.

* **Max (Maximum)**: The largest value in the column.

When it comes to missing data, df.describe() automatically excludes missing values (NaNs) when calculating the above statistics. Because of this, ```Count``` reflects the number of non-missing values, ```Mean``` and other statistics are calculated only for the non-missing values, and so on.
Also, if a column contains missing values, df.describe() will still provide the summary statistics based on the available non-missing data.

### Question 7

- 1: ```df.dropna()``` can be preferred to ```del df['col']``` when the column only has some rows with missing values. The difference between ```.dropna()``` and ```del``` is that ```.dropna``` only excludes the rows under a column with missing values, while ```del``` gets rid of the entire column. ```dropna``` should be used when most of the information under a column is correct with only some missing values (if only a few values are missing, the data is likely accurate and the missing values are either outliers or anamolies). Only dropping rows with missing values will allow us to preserve most of the information.

- 2: On the other hand, , ```del``` should be used when there are so many rows missing values under the column that the column cannot possibly be accurate, which justifies deleting the entire column. For example, in the next cell, we see that the 'deck' column 688/891 rows had missing values for 'deck'. This will preserve the rows while getting rid of data that is mostly incomplete.

- 3: If there is a particular column with too many missing values (such as the ```deck``` column from the below), using .dropna() first will cause a lot of rows with mostly complete data to be ignored, which would be unnecessary because most of those rows likely had useful information except for in one column.  By removing the column first, we can prevent excessive row removal.

In [34]:
# Question 7 cont'd

# Number 4
print("Here are the dimensions before cleanup: ")
print(df2.shape)

print("Summary of all the rows:")
print(df2.isna().sum())

print("\nThere are too many missing values. Will use  del and .dropna to clean up the data frame")

# Remove the 'deck' column
del df2['deck']

# NOTE: If running this cell twice, there will be an error, since 'deck' is removed twice, the second time it will have nothing to remove. To fix it, run the previous code cell to re-import df2 so that the 'deck' column is no longer missing.

# Remove rows with missing values in 'age', 'embarked', and 'embark_town'
df2_clean = df2.dropna(subset=['age', 'embarked', 'embark_town'])

# Check the shape of the cleaned dataset
rows3, columns3 = df2_clean.shape
print("\nThis is the new shape of the dataframe, after clean-up.")
print("Rows: \t\t " + str(rows3))
print("Columns: \t " + str(columns3))

# Justification:
# Deck: Too many missing values to be useful, so it was deleted.
# Age, Embarked, Embark_town: These columns had a manageable number of missing values, so rows with missing data were dropped to retain important features.
# Before: The dataset had 891 rows and 15 columns, with several columns containing significant missing values.
# After: The dataset was reduced to 712 rows and 14 columns, with all missing data removed, retaining the most meaningful data without discarding too much.

Here are the dimensions before cleanup:
(891, 15)
Summary of all the rows:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
There are too many missing values. Will use  del and .dropna to clean up the data frame

 This is the new shape of the dataframe, after clean-up.
Rows: 	 712
Columns: 	 14

In [39]:
# QUESTION 8

# Part 1

df2 = pd.read_csv("titanic.csv")

# The command   .groupby(column1)[column2].describe() :
# First will split the data in the dataframe into groups where every row has the same value in 'col1'       (this is the (column1) part)
# Then it will select 'column2' from each group to analyze                                                  (this is the [column2] part)
# Finally, will find the summary statistics for each group in column2                                       (this is the .describe() part)      

df2.groupby("sex")["survived"].describe()


# Compare the percentage of Men Vs. Women who survived

        count      mean       std  min  25%  50%  75%  max
sex
female  314.0  0.742038  0.438211  0.0  0.0  1.0  1.0  1.0
male    577.0  0.188908  0.391775  0.0  0.0  0.0  0.0  1.0

##### QUESTION 8

##### Part 2

**df.describe()**:

* Provides summary statistics for each numeric column in the DataFrame, including the count, mean, standard deviation, etc. 
* The count in df.describe() reflects the number of non-missing values in each column across the entire DataFrame.
* It captures overall characteristics of the data for each column, irrespective of any grouping.

**df.groupby("col1")["col2"].describe()**:

* Provides summary statistics for a column (col2) within each group defined by another column (col1). For instance, if col1 represents sex and col2 represents survival status (with values of True or False), the groupby method will provide statistics on survival status separately for each gender. Specifically, it will show the count of non-missing survival entries (True or False) for each gender, along with other descriptive statistics like the mean and standard deviation for each gender group. In this case, the standard deviation, and the quartiles are not very relavent, but they would be if, instead of analyzing for survival rate, one were to analyze income (in which case standard deviation, max, and min would be much more significant)
* The count in this context reflects the number of non-missing values for col2 within each group of col1.
* It provides insights into the distribution of col2 for each unique value of col1, which can reveal differences across groups.


In summary, df.describe() aggregates data for the overall dataset, while df.groupby("col1")["col2"].describe() specifically analyzes how the statistics for col2 vary by each specific group defined in col1, allowing a more detailed analysis of the data.

#### Question 8

#### Part 3

I find it significantly easier to work with a chatbot to fix coding errors compared to using Google searches. When encountering issues in my code, I can quickly paste the problematic section into a chat and receive tailored, step-by-step guidance on identifying and resolving the specific errors.
For example, when I intentionally introduced syntax errors into a Python script, ChatGPT was able to pinpoint the exact lines causing problems and suggest corrections. It provided clear explanations of why the errors occurred and how to fix them, which helped me understand the underlying concepts better.
In contrast, searching for error messages on Google often leads to generic forum posts or documentation that may not directly address my particular situation. Sifting through search results and adapting general solutions to my specific code can be time-consuming and frustrating.
Additionally, the interactive nature of ChatGPT allows for immediate follow-up questions if I need further clarification or encounter new issues while implementing fixes. This real-time, personalized assistance is invaluable for efficient troubleshooting and learning.
Google is still a useful tool for broader programming concepts and for finding human-generated responses which I often find to be more intuitive. However, rapid error resolution and targeted coding help, ChatGPT provides a more streamlined, effective, and educational experience. The ability to engage in a dialogue about my code and receive contextually relevant advice has significantly accelerated my problem-solving process in programming assignments.

### Question 9

Yes


---

### Chatbot Summary

#### Questions 1-7
###### (Did not use ChatGPT for question 6 and 7 b/because it was not needed)

Here's a summary of our conversation so far, highlighting key concepts and code examples:

1. **Introduction to Dataset**:
   You loaded a dataset about villagers using pandas, starting with this code:
   ```python
   import pandas as pd
   url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
   df = pd.read_csv(url)
   df.isna().sum()  # Checking for missing values
   ```

2. **Finding the Shape of the Data**:
   We explored how to find the number of rows and columns using the `.shape` attribute:
   ```python
   rows, columns = df.shape
   print(f"Number of rows: {rows}")
   print(f"Number of columns: {columns}")
   ```

   This returned the overall structure of the dataset (e.g., number of observations and variables).

3. **Observations and Variables**:
   - **Observations**: Rows in the dataset, representing individual villagers.
   - **Variables**: Columns, representing attributes of the villagers (e.g., species, personality).

4. **Summarizing Columns**:
   To generate summaries of columns, you learned to use the `describe()` method:
   ```python
   # Summary of numerical columns
   df.describe()
   
   # Summary of categorical columns
   df.describe(include=['object'])
   ```

   - For **numerical** data, `df.describe()` provided statistics like mean, min, max, and percentiles.
   - For **categorical** data, it summarized the count, number of unique values, most frequent value, etc.

5. **Discrepancies between `df.shape` and `df.describe()`**:
   We discussed why `df.shape` (the total number of rows and columns) might differ from `df.describe()`, which only provides summaries for certain columns. Specifically, `df.describe()` might ignore non-numeric columns or those with missing values unless explicitly instructed to include them.

6. **Attributes vs. Methods**:
   You learned the distinction between an **attribute** and a **method**:
   - **Attribute**: A stored property of an object that does not require parentheses (e.g., `df.shape`).
   - **Method**: A function associated with an object that requires parentheses and performs an action (e.g., `df.describe()`).

By now, I have a better understanding of how to examine and summarize your dataset using pandas, as well as the differences between accessing properties (attributes) and performing actions (methods).

#### Question 8

Hereâ€™s a summary of our conversation:

1. **Initial Question about `df.groupby("col1")["col2"].describe()`**:
   - You asked about the command `df.groupby("col1")["col2"].describe()`.
   - This command groups the DataFrame by the unique values in `"col1"` and then provides summary statistics for `"col2"` within each group. The output includes metrics like count, mean, standard deviation, min, quartiles, and max for `"col2"` grouped by `"col1"`.

2. **Handling `NameError: name 'pd' is not defined`**:
   - You encountered a `NameError` because pandas (`pd`) wasn't imported.
   - The solution is to import pandas with `import pandas as pd`.

3. **Fixing `FileNotFoundError`**:
   - You faced a `FileNotFoundError` due to a typo in the file path.
   - To resolve this, ensure the file name and path are correct, use an absolute path if needed, and check the file's location relative to your script.

4. **Correcting `SyntaxError` Due to Missing Parenthesis**:
   - You got a `SyntaxError` because of a missing closing parenthesis in `pd.read_csv(url`.
   - The correction is to add the closing parenthesis: `pd.read_csv(url)`.

5. **Fixing Method Name Issue**:
   - You used `df.group_by('col1')['col2'].describe()` instead of `df.groupby('col1')['col2'].describe()`.
   - The correct method is `groupby`, not `group_by`.

6. **Error Due to Non-existent Column**:
   - You encountered an error because `'Sex'` was not a column in the dataset.
   - To fix this, check the correct column names using `print(df.columns)` and use the actual column name in your `groupby` method.

7. **Correcting Column Name Usage**:
   - You mistakenly used `df.groupby(sex)['age'].describe()` without quotes around `'sex'`.
   - The correct usage is `df.groupby('sex')['age'].describe()` with quotes around the column name.

By following these corrections, you should be able to resolve the errors and proceed with your data analysis.