# STA130 Week 01 Homework

**Name:** Varak Tanashian

**Date:** September 12th, 2024

**Assignment:** Week 01 Homework

---

## Course Information
- **Course:** STA130 - An Introduction to Statistical Reasoning and Data Science
- **Instructor:** Prof: Scott Schwartz 
- **Term:** Fall 2024

---

*This notebook contains my solutions and work for the Week 01 Homework assignment.*

**ChatGPT Summary:** Found at the bottom of this notebook  
**Chat Link:** [ChatGPT conversation link]


---
### Prelecture

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

# Question 1: 
rows, columns = df.shape
print(f"Number of rows: \t{rows}")
print(f"Number of columns: \t{columns}")

Number of rows: 	391
Number of columns: 	11

### Question 2: 

** Observations ** are instances of data. They are the rows. For example, if we have information about 10 villagers, then we have 10 observations, meaning there are 10 rows in the table. Each observation is identified by an index.

** Variables ** are the features/attributes inside a dataset, i.e. the columns. Every instance (observation) in a data set should have a value for all of the variables. For example, if we have data about 10 villagers, all 10 villagers should have a value filled in for all of the variables, such as age, name, etc.

In [19]:
# Question 3

# Summary statistics for numerical columns

# Summary of Numerical columns
print(df.describe())

# Table w/ Specific examples
df.describe(include=['object'])

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

,id,name,gender,species,birthday,personality,song,phrase,full_id,url
count,390,391,391,391,391,391,380,391,391,391
unique,390,391,2,35,361,8,92,388,391,391
top,zucker,Zucker,male,cat,6-30,lazy,K.K. Country,quacko,villager-zucker,https://villagerdb.com/images/villagers/thumb/...
freq,1,1,204,23,2,60,10,2,1,1

In [ ]:
# Question 4


---

### Postlecture


---

### Chatbot Summary